body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0f7fa; /* Cor de fundo clara e relaxante */
  color: #333; /* Cor do texto escuro */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  background-color: #00796b; /* Cor verde escura */
  color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.logo {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 1.2em;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: row-reverse; /* Inverte a direção das divs */
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
}

.imagem {
  flex: 1;
  margin-left: 20px; /* Espaçamento entre imagem e texto */
}

.imagem img {
  display: block;
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra ao redor da imagem */
  transition: transform 0.3s ease; /* Suave transição para o efeito zoom */
}

.imagem img:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.content {
  flex: 2;
  padding: 20px;
}

.content h2, .content h3 {
  color: #00796b; /* Cor verde escura */
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 10px 0;
}

.button {
  display: inline-block;
  background-color: #00796b; /* Cor verde escura */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 20px 0;
  transition: background-color 0.3s ease; /* Suave transição de cor */
}

.button:hover {
  background-color: #004d40; /* Cor verde mais escuro */
}

.label {
  font-weight: bold;
}

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Estilos da tabela */
table {
  width: 80%; /* Reduz a largura da tabela para 80% */
  border-collapse: collapse;
  margin: 20px auto; /* Centraliza a tabela */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
  overflow: hidden; /* Garante que a borda redonda funcione */
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #00796b; /* Cor verde escura */
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
