body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffe6f2; /* Cor de fundo clara e relaxante */
  color: #333; /* Cor do texto escuro */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  background-color: #e91e63; /* Cor rosa escura */
  color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.logo {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  flex-direction: row-reverse; /* Inverte a direção das divs */
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
}

.imagem {
  flex: 1;
  margin-left: 20px; /* Espaçamento entre imagem e texto */
}

.imagem img {
  display: block;
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra ao redor da imagem */
  transition: transform 0.3s ease; /* Suave transição para o efeito zoom */
}

.imagem img:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.content {
  flex: 2;
  padding: 20px;
}

.content h2, .content h3 {
  color: #e91e63; /* Cor rosa escura */
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.catalog {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
}

.service {
  margin-bottom: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background 0.3s ease; /* Suave transição para o fundo */
}

.service:hover {
  background: #f8bbd0; /* Leve alteração de fundo ao passar o mouse */
}

.service h3 {
  color: #c2185b; /* Cor rosa mais escura */
  margin-bottom: 10px;
  text-transform: uppercase; /* Texto em maiúsculas */
}

.service p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.button {
  display: inline-block;
  background-color: #e91e63; /* Cor rosa escura */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 20px 0;
  transition: background-color 0.3s ease; /* Suave transição de cor */
}

.button:hover {
  background-color: #c2185b; /* Cor rosa mais escuro */
}

.label {
  font-weight: bold;
}

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
